---
import type { CollectionEntry } from "astro:content";

type Props = {
  entry: CollectionEntry<"blog"> | CollectionEntry<"projects">;
}

const { entry } = Astro.props;
---

<a href={`/${entry.collection}/${entry.id}`} class="relative group flex flex-nowrap py-3 px-4 pr-10 rounded-lg theme-card border transition-colors duration-300 ease-in-out">
  <div class="flex flex-col flex-1 truncate">
    <div class="font-semibold theme-heading">
      {entry.data.title}
    </div>
    <div class="text-sm">
      {entry.data.description}
    </div>
  </div>
  <span class="pixel-arrow pixel-arrow-right" aria-hidden="true">
    <span style="--x: 2; --y: 0"></span>
    <span style="--x: 3; --y: 1"></span>
    <span style="--x: 4; --y: 2"></span>
    <span style="--x: 3; --y: 3"></span>
    <span style="--x: 2; --y: 4"></span>
    <span style="--x: 0; --y: 2"></span>
    <span style="--x: 1; --y: 2"></span>
    <span style="--x: 2; --y: 2"></span>
    <span style="--x: 3; --y: 2"></span>
  </span>
</a>
