---
type Props = {
  href: string;
}

const { href } = Astro.props;
---
 
<a href={href} class="back-button relative group w-fit flex pr-3 py-1.5 flex-nowrap theme-card border">
  <span class="pixel-arrow pixel-arrow-left" aria-hidden="true">
    <span style="--x: 2; --y: 0"></span>
    <span style="--x: 1; --y: 1"></span>
    <span style="--x: 0; --y: 2"></span>
    <span style="--x: 1; --y: 3"></span>
    <span style="--x: 2; --y: 4"></span>
    <span style="--x: 1; --y: 2"></span>
    <span style="--x: 2; --y: 2"></span>
    <span style="--x: 3; --y: 2"></span>
    <span style="--x: 4; --y: 2"></span>
  </span>
  <div class="text-sm">
    <slot/>
  </div>
</a>
