---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import { BOOKS } from "@consts";
import Book from "@components/Book.astro";

const books = (await getCollection("books"))
  .filter(book => !book.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<PageLayout title={BOOKS.TITLE} description={BOOKS.DESCRIPTION}>
  <Container>
    <div class="space-y-10">
      <div class="font-semibold theme-heading">
        Books
      </div>
      <ul class="flex flex-col gap-4">
        {
          books.map((book) => (
            <li>
              <Book entry={book}/>
            </li>
          ))
        }
      </ul>
    </div>
  </Container>
</PageLayout>
